{% extends 'base.html.twig' %}

{% block title %}Crear Curriculum{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}